@tailwind base;
@tailwind components;
@tailwind utilities;

.blue-main {
  background-color: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    #13556a;
}

.search-boxShadow {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}
.nav-boxShadow {
  box-shadow: 0px 13px 20px 0px rgba(0, 0, 0, 0.07);
}

.triangle {
  margin: auto;
  border-radius: 2%;
  box-shadow: inset 0 0 12px #ffffff;
  clip-path: polygon(50% 0, 100% 100%, 0% 100%);
}

.hero-linear {
  background: linear-gradient(
    90deg,
    #121212 -3.08%,
    rgba(18, 18, 18, 0.25) 37.64%,
    rgba(18, 18, 18, 0) 56.42%
  );
}

@layer utilities {
  .wrapper {
    @apply w-[92%]  2xl:w-[90%] max-w-[1376px] mx-auto;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .text-14 {
    @apply text-[14px] leading-[24px];
  }
  .text-16 {
    @apply text-[16px] leading-[26px];
  }
  .text-20 {
    @apply text-[20px] leading-[28px];
  }
  .text-24 {
    @apply text-[24px] leading-[32px];
  }
  .text-32 {
    @apply text-[32px] leading-[40px];
  }
  .text-48 {
    @apply text-[48px] leading-[56px];
  }
  .text-64 {
    @apply text-[64px] leading-[72px];
  }
}
